<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <nav>
        {{#if loggedIn}}
        <a href="/" class="nav-item">Home</a>
        <a href="/dashboard" class="nav-item">Dashboard</a>
        <button id="logout" class="btn-nav-item">Logout</button>
        {{else}}
        <a href="/" class="nav-item">Home</a>
        <a href="/login" class="nav-item">Dashboard</a>
        <a href="/login" class="nav-item">Login</a>
        {{/if}}
      </nav>
    </header>
    <section class="hero">
      <div class="hero-image">
      </div>
    </section>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>